In [1]:
print('hello')

hello

In [6]:
print("My first name is {} and last name is {}".format("shrikant","shinde"))

My first name is shrikant and last name is shinde

In [10]:
a = "shrikant"
b = "Shinde"
print("First Name is {} and Last Name is {}".format(b,a))

First Name is Shinde and Last Name is shrikant

In [11]:
print("My name is {fname} and {lname}".format(lname = "Shinde",fname = "Shrikant"))

My name is Shrikant and Shinde

In [5]:
a = "Students"
len(a)

8

In [32]:
lst = ['Maths',"chemestry",100,200,300]

In [5]:
type(lst)

list

In [26]:
lst[0::2]

['Maths', 100, 300]

In [33]:
lst.append("BI")

In [28]:
lst.insert(1,'Data science')

In [34]:
lst

['Maths', 'chemestry', 100, 200, 300, 'BI']

In [30]:
lst.append([2,3])

In [31]:
lst

['Maths', 'Data science', 'chemestry', 100, 200, 300, 'BI', [2, 3]]

In [35]:
lst.extend([2,3])

In [36]:
lst

['Maths', 'chemestry', 100, 200, 300, 'BI', 2, 3]

In [48]:
lst = [1,2,3,4,5,1,2,5,7,1,2,6,8]

In [49]:
sum(lst)

47

In [50]:
lst.count(1)

3

In [68]:
lst.index(1,1,6)

5

In [58]:
min(lst)

1

In [59]:
max(lst)

8

In [2]:
l1 = list("xyz")
#l2 = list(123) TypeError: 'int' object is not iterable
#l2
l1

['x', 'y', 'z']

In [13]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [15]:
c = 2*a
c

[1, 2, 3, 1, 2, 3]

In [41]:
lst1 = [10,100,101,102,103]
102 in lst1
len(lst1)
max(lst1)
min(lst1)

10

In [28]:
lst2 =[1,2,3]
lst3 =[1,2,3]
A = 'Hello'
B = 'Hello'
B is A
#print(lst2 is lst3)
#print(A is B)

True

In [37]:
del lst1[0:2:3]
lst1

[100, 101, 102, 103]

# Set
- mutable,unordered and has no duplicate value
- represent mathematical notion
- is based on data structure known as hash table

In [7]:
set_var = set()
set_var
print(type(set_var))

<class 'set'>

In [59]:
set_var1 = {} # without elements in curly brace it's look like dictionary
type(set_var1)

dict

In [12]:
set_var = {12,101,22,33}
set_var

{12, 22, 33, 101}

In [42]:
set_var.add("Hello")
set_var

{101, 12, 22, 33, 'Hello'}

In [56]:
s1 = {10,20,30,40}
s2 = {10,20,30,50}

s2.difference_update(s1)

print(s2)

{50}

# Dictionary
- unordered,changeable and indexing
- in form of key and value pairs

In [57]:
dict_var = {}
type(dict_var)

dict

In [62]:
dict1 = {1,2,3,4}
dict1
type(dict1)

set

In [63]:
dict2 = {'car1':"Maruti",'car2':"Kia",'car3':"MG Hector"}
dict2

{'car1': 'Maruti', 'car2': 'Kia', 'car3': 'MG Hector'}

In [64]:
dict2['car1'] #access by key

'Maruti'

In [65]:
# access by loop i.e get key information
for x in dict2:
    print(x)

car1
car2
car3

In [70]:
#access value of dictionary by for loop

for x in dict2.values():
    print(x)

Maruti
Kia
MG Hector

In [71]:
# access key and values both by using for loop

for x in dict2.items():
    print(x)

('car1', 'Maruti')
('car2', 'Kia')
('car3', 'MG Hector')

In [73]:
# adding new item in dictionary
dict2['car4'] = "TATA"
dict2

{'car1': 'Maruti', 'car2': 'Kia', 'car3': 'MG Hector', 'car4': 'TATA'}

In [74]:
# modify value by key

dict2['car1'] = "HONDA"
dict2

{'car1': 'HONDA', 'car2': 'Kia', 'car3': 'MG Hector', 'car4': 'TATA'}

# Nested Dictionary

In [75]:
car1_model = {'TATA':1970}
car2_model = {'KIA':1999}
car3_model = {'MG Hector':2000}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}
car_type

{'car1': {'TATA': 1970}, 'car2': {'KIA': 1999}, 'car3': {'MG Hector': 2000}}

In [76]:
# access value of dictionary by key

car_type['car1']

{'TATA': 1970}

In [77]:
# access value for inside the nested dictionry by key

car_type['car1']['TATA']

1970

# tuple
- unmutable or unchage
- indexing
- created by () or tuple() constructor
- accept duplicate value i.e. elements

In [84]:
t1 = tuple()
#type(t1)

t2 = ()
type(t2)

tuple

In [86]:
t3 = (10,20,30,10)
t3

(10, 20, 30, 10)

In [87]:
t3.count(10) # count no of occurance of given elements in tuple

2

In [90]:
t3.index(10,1)# find index or position of given value or elements

3